html, body {
  height: 100%; }

body {
  margin: 0;
  font-family: Helvetica,sans-serif; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none; }

a {
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out; }

@-webkit-keyframes fade {
  0% {
    opacity: 0.8; }
  100% {
    opacity: 1; } }

@keyframes fade {
  0% {
    opacity: 0.8; }
  100% {
    opacity: 1; } }

.container {
  margin: 0 auto;
  padding: 0px 15px;
  width: 100%;
  max-width: 1100px; }
  @media (max-width: 1200px) {
    .container {
      max-width: 1170px; } }
  @media (max-width: 768px) {
    .container {
      max-width: 750px; } }

@-webkit-keyframes loading {
  0% {
    -webkit-transform: scale(10, 10) rotateX(360deg);
            transform: scale(10, 10) rotateX(360deg); }
  100% {
    -webkit-transform: scale(1, 1) rotateX(0deg);
            transform: scale(1, 1) rotateX(0deg); } }

@keyframes loading {
  0% {
    -webkit-transform: scale(10, 10) rotateX(360deg);
            transform: scale(10, 10) rotateX(360deg); }
  100% {
    -webkit-transform: scale(1, 1) rotateX(0deg);
            transform: scale(1, 1) rotateX(0deg); } }

@-webkit-keyframes sizing {
  0% {
    width: 0%;
    height: 0%;
    border-radius: 50%; }
  100% {
    width: 100%;
    height: 100%;
    border-radius: 0%; } }

@keyframes sizing {
  0% {
    width: 0%;
    height: 0%;
    border-radius: 50%; }
  100% {
    width: 100%;
    height: 100%;
    border-radius: 0%; } }

#loading {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 101; }
  #loading .circle {
    width: 0%;
    height: 0%;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%); }
  #loading .load-anim {
    position: relative;
    width: 100%;
    text-align: center;
    top: 50%;
    text-align: center;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
    #loading .load-anim svg {
      width: 110px;
      height: 110px; }
      #loading .load-anim svg.fade {
        display: none; }
      #loading .load-anim svg .b {
        width: 10px; }

.row-container {
  margin-right: -10px;
  margin-left: -10px; }
  .row-container:before, .row-container:after {
    content: '';
    display: table;
    clear: both; }
  .row-container .col {
    float: left;
    min-height: 1px;
    padding: 10px; }
    .row-container .col:after, .row-container .col:before {
      content: '';
      clear: both; }
    @media (min-width: 768px) {
      .row-container .col {
        width: 25%; } }
    @media (max-width: 768px) {
      .row-container .col {
        width: 50%; } }
    @media (max-width: 600px) {
      .row-container .col {
        width: 100%; } }

.card {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .card img {
    width: 100%; }
  .card .caption h4 {
    margin-bottom: 0px; }
  .card .caption p, .card .caption a {
    font-size: 14px; }
  .card .caption a {
    text-decoration: none;
    color: inherit; }
  .card .info {
    color: #ed682e;
    font-size: 14px; }
  .card:hover {
    opacity: 0.8; }

.bullet {
  background: #ccc;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-bottom: -3px;
  border-radius: 50%; }

.img-bg--js {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.btn-download {
  background-color: #ffd33a;
  color: #fff !important;
  border-radius: 4px;
  padding: 10px 12px !important; }

.input-w--addon {
  position: relative;
  overflow: hidden; }
  .input-w--addon .input {
    padding-left: 45px;
    min-width: 125px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    height: 36px;
    background-image: url("../images/caret-down.png");
    background-size: 7px;
    background-repeat: no-repeat;
    background-position: center right 7px;
    font-family: inherit;
    border: solid 1px #ccc;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; }
  .input-w--addon .addon {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 10px 10px;
    background: #f27e3b;
    border: soldi 1px #f27e3b;
    color: #fff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; }

.slider-container {
  position: relative; }
  .slider-container .slide-item {
    display: none;
    -webkit-animation: fade 1s alternate;
            animation: fade 1s alternate; }
    .slider-container .slide-item img {
      width: 100%; }
    .slider-container .slide-item.active {
      display: block; }

.section-tabs {
  background: #09304d;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center; }
  .section-tabs.no-background {
    background: #f8f8f8; }
  .section-tabs h4 {
    color: #fff;
    text-transform: uppercase; }
  .section-tabs hr {
    max-width: 50px;
    border-color: #d46115;
    border: solid 1px #d46115; }
  .section-tabs .nav-tabs {
    position: relative;
    list-style-type: none;
    padding: 0px;
    display: inline-block;
    z-index: 10;
    margin-bottom: -60px;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    overflow: hidden; }
    .section-tabs .nav-tabs li {
      float: left; }
      .section-tabs .nav-tabs li a {
        text-decoration: none;
        color: #000;
        display: block;
        background: #fff;
        padding: 20px 20px;
        min-width: 135px;
        font-size: 14px;
        position: relative;
        cursor: pointer; }
      .section-tabs .nav-tabs li.active a, .section-tabs .nav-tabs li:hover a {
        color: #d46115; }
      .section-tabs .nav-tabs li:nth-of-type(odd) a:after {
        content: '';
        width: 1px;
        height: 20px;
        background: #ccc;
        position: absolute;
        margin-top: -2px;
        right: 0; }

.tabs-content--menu {
  padding-top: 30px;
  padding-bottom: 40px; }
  .tabs-content--menu .nav-tabs {
    margin-bottom: 0px; }
    .tabs-content--menu .nav-tabs li a {
      background: #ed682e;
      color: #fff; }
    .tabs-content--menu .nav-tabs li.active a, .tabs-content--menu .nav-tabs li:hover a {
      background: #c94d14;
      color: #fff; }
    .tabs-content--menu .nav-tabs li:nth-of-type(odd) a:after {
      background: #b84a17;
      width: 2px; }

.navbar {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 2.15em;
  padding-bottom: 1.75em;
  min-height: 50px;
  z-index: 100;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }
  @media (max-width: 768px) {
    .navbar {
      padding-top: 1.5em;
      padding-bottom: 1em; } }
  .navbar.is-sticky {
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); }
    @media (min-width: 768px) {
      .navbar.is-sticky {
        padding-top: 1.5em;
        padding-bottom: 1em; } }
  .navbar .header {
    float: left;
    margin-right: 15px; }
    @media (max-width: 768px) {
      .navbar .header {
        float: none; } }
    .navbar .header .brand {
      padding: 2px 0px;
      float: left; }
    .navbar .header .navbar-toggle {
      text-decoration: none;
      color: #000;
      float: right;
      font-size: 14px;
      padding: 5px 10px;
      width: 20px;
      margin: -5px -5px;
      font-size: 16px;
      cursor: pointer; }
      @media (min-width: 768px) {
        .navbar .header .navbar-toggle {
          display: none; } }
  @media (max-width: 768px) {
    .navbar .nav-wrapper {
      display: none; } }
  .navbar .nav-wrapper .nav {
    list-style-type: none;
    margin: 0px;
    padding: 0px; }
    .navbar .nav-wrapper .nav li {
      display: inline; }
      .navbar .nav-wrapper .nav li a {
        color: #555;
        text-decoration: none;
        font-size: 14px;
        padding: 10px; }
      .navbar .nav-wrapper .nav li:hover a {
        color: #f27e3b; }
    .navbar .nav-wrapper .nav.left {
      float: left; }
    .navbar .nav-wrapper .nav.right {
      float: right; }
    .navbar .nav-wrapper .nav .nav-form {
      float: left;
      margin-right: 10px;
      margin-top: -8px; }
    @media (max-width: 768px) {
      .navbar .nav-wrapper .nav {
        float: none !important; }
        .navbar .nav-wrapper .nav li {
          display: block; }
        .navbar .nav-wrapper .nav .nav-form {
          margin-top: 15px; } }

.sidebar-on--mobile {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #f6f6f6;
  z-index: 99;
  left: -100%;
  padding: 7em 15px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out; }
  .sidebar-on--mobile ul {
    list-style: none;
    padding: 0px; }
    .sidebar-on--mobile ul li {
      display: block;
      margin-top: 10px;
      margin-bottom: 15px; }
      .sidebar-on--mobile ul li a {
        text-decoration: none;
        color: inherit;
        font-size: 5vh; }
      .sidebar-on--mobile ul li .nav-form .input-w--addon {
        float: left;
        margin-right: 5px; }
      .sidebar-on--mobile ul li .nav-form a {
        float: left;
        font-size: 14px; }
      .sidebar-on--mobile ul li:hover a, .sidebar-on--mobile ul li.active a {
        color: #ed682e; }
  .sidebar-on--mobile.open {
    left: 0%; }

#wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
  #wrapper .section {
    position: relative;
    height: auto;
    background: #f8f8f8; }
    #wrapper .section:nth-of-type(1) {
      padding-top: 85px; }
      @media (max-width: 768px) {
        #wrapper .section:nth-of-type(1) {
          padding-top: 60px; } }
    #wrapper .section.full-height {
      min-height: 100%; }
      #wrapper .section.full-height.np {
        min-height: 50vh; }

#section-top {
  background: #eee; }
  @media (min-width: 768px) {
    #section-top {
      min-height: 100%;
      max-height: 100%; } }

.section-tab--content {
  display: none; }
  .section-tab--content.section-active {
    display: block; }
  .section-tab--content .tab-content {
    display: none;
    padding-top: 4em; }
    .section-tab--content .tab-content.active-content {
      display: block; }
